@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .header .wrap {
        justify-content: space-between;
    }
    .site-nav {
        display: flex;  
    }
    .contacts-list {
        display: flex;
        flex-direction: column;
    }
    .menu-open {
        display: none;
    }
}